.Symptoms{
    margin-top: var(--topNavHeight);
    padding-top: 5vh;
}


.content{
    position: absolute;
    margin-top: 5em;
    padding-left: 2em;
    z-index: -5;
}

.symptomsList{
    margin-left: 5vh;
    margin-right: 5vh;
}


.showAlert{
    margin-top: 1em;
}