.Home{
    margin-top: var(--topNavHeight);
    padding: 5vh;
}

.timeline{
  display: block;
  margin-top: 7vh;
  text-align: left;
  font-size: 1.7vh;
  padding-top: 3vh;
}

p{
    margin-top: -10px;
}

.icon{
  font-size: 2vh;
  color: black;
}