.header {
    margin-top: 12vh; 
}
  
  
h1{
    font-size: 10vh;
    color: #AF7AC5;
    margin-bottom: 0px;
}
  
h3{
    margin-top: 0px;
    font-size: 2vh;
    color: #D7DBDD;
}
  
  
img{
    width: 50vh;
}
  
