:root {
  --primary: #AF7AC5; 
}

.App {
  text-align: center;
}

.button{
  height: 5vh;
  width: 17vh;
  border: none;
  border-radius: 5px;
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; 
  margin-right: 1vh;
  outline:none;
  margin-top: 1vh;
}

.default{
  background: var(--primary);
  color: white;
}

.button:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.left{
  float: left;
}

.full{
  width: 47%;
  display: inline-block;
}